<h1>Stupid Coaching</h1>

<div id="user">
<p><%= @user_answer %></p>
<p><i>-You</i></p>
</div>

<div id="coach">
<p><%= @coach_answer %></p>
<p><i>-Your Coach</i></p>
</div>

<a href="./ask">Ask a new question</a>
